<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Flask App</title>
    </head>
    <body>
          {% include 'header.html' %} {# Includes the header.html template #}

          <main>
              <h1>About Us</h1>
              <p>
                  Welcome to the About page of my Flask app.
                  This application is a simple Flask application
                  that demonstrates the use of HTML templates using Jinja2 and Flask
              </p>
              <p>
                We focus on the use of HTML templates using Jinja2 and Flask to enhance the user experience
                consistently across different pages.
              </p>
          </main>
         
          {% include 'footer.html' %}
    </body>
</html>