<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Items List</title>
    </head>
    <body>
          {% include 'header.html' %}
          
      <main> 
          <h1>Items Lists</h1>

           {% if items %}
              {# Loop through the list of items and display them #}
             <ul>
                {% for item in intems %} 
                   <li>{{ item }}</li>
                {% endfor %}
             </ul>
           {% else %}
             {# Display a message if the list is empty #}
             <p>No items found.</p>
           {% endif %}
      </main>
      
          {% include 'footer.html' %}
    </body>

    </html>